*{
	width:1100px;
	background-color:mintcream;
}

#table-1{
	border:1px solid black;
}

#img{
	width:400px;
	height:200px;
}
.first{
	width:200px;
}
.middle{
	width:600px;
}
.last{
	width:200px;
}
td, tr{
	border:1px solid black;
}

}


